.vs/
.vscode/
ARM/
ARM64/
Assets/.vs/
BambooTrackerInterface/ARM/
BambooTrackerInterface/Debug/
BambooTrackerInterface/x64/
BambooTrackerInterface (Android)/ARM64/
bin/
Debug/
Library/
Logs/
MemoryCaptures/
obj/
Temp/
x64/
*.meta
*.bak
Assets/Sounds/BGM/EoSD.btm
Unity.2D.Animation.Editor.csproj
Unity.2D.Animation.Runtime.csproj
Unity.2D.Animation.Triangle.Runtime.csproj
Unity.2D.Common.Editor.csproj
Unity.2D.Common.Runtime.csproj
Unity.2D.Path.Editor.csproj
Unity.2D.Sprite.Editor.csproj
Unity.2D.SpriteShape.Editor.csproj
Unity.2D.SpriteShape.Runtime.csproj
Unity.2D.Tilemap.Editor.csproj
Unity.CollabProxy.Editor.csproj
Unity.EditorCoroutines.Editor.csproj
Unity.InternalAPIEditorBridge.001.csproj
Unity.InternalAPIEngineBridge.001.csproj
Unity.Mathematics.csproj
Unity.Mathematics.Editor.csproj
Unity.MemoryProfiler.csproj
Unity.MemoryProfiler.Editor.csproj
Unity.Timeline.csproj
Unity.Timeline.Editor.csproj
Unity.VSCode.Editor.csproj
UnityEditor.TestRunner.csproj
UnityEditor.UI.csproj
UnityEngine.TestRunner.csproj
UnityEngine.UI.csproj
Assets/Sounds/BGM/play1.xm
Assets/Sounds/BGM/play1.xm
Assets/Sounds/BGM/play2.xm
Assets/Sounds/BGM/play3.xm
Assets/Sounds/BGM/play4.xm
Assets/Sounds/BGM/title.xm
Assets/Sounds/BGM/jingle.xm
Assets/Sounds/BGM/instrumentdemo.btm
Assets/Sounds/BGM/miscsongs.btm
